@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Customer Master</h1>
    <dl class="text-left">
        <dt>Shipping Comments</dt>
        <dd>This page allows authorized users to add/update Shipping Comments in Customer Master</dd>
    </dl>
</div>
